.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);

  padding: var(--spacing-sm) var(--spacing-base);

  min-height: 2.5rem;
  min-width: 2.5rem;

  background-color: transparent;

  border: 1px solid transparent;
  border-radius: var(--rounded-base);

  text-decoration: none;
  font-weight: 600;
  color: var(--color-on-surface);

  cursor: pointer;

  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
}

.button > .button-icon {
  font-size: var(--text-base);
  line-height: 1.25;
}

.button > .button-label {
  font-size: var(--text-sm);
  line-height: 1.25;
}

.button:has(.button-icon):not(:has(.button-label)) {
  aspect-ratio: 1;
  padding: 0;
}

.button.button--primary {
  background-color: var(--color-primary);

  border-color: var(--color-primary);
  color: var(--color-on-primary);
}

.button.button--primary:hover {
  background-color: color-mix(in srgb, var(--color-primary) 95%, black);
  border-color: color-mix(in srgb, var(--color-primary) 95%, black);
}

.button--primary.button--outline {
  color: var(--color-primary);
  background-color: transparent;
  border-color: color-mix(in srgb, var(--color-primary) 95%, black);
}

.button--primary.button--outline:hover {
  color: var(--color-on-primary);
  background-color: color-mix(in srgb, var(--color-primary) 95%, black);
  border-color: color-mix(in srgb, var(--color-primary) 95%, black);
}

.button.button--neutral {
  background-color: var(--color-surface-container);
  border-color: var(--color-surface-container);
  color: var(--color-on-surface-high);
}

.button.button--neutral:hover {
  background-color: var(--color-surface-container-high);
  border-color: var(--color-surface-container-high);
}

.button--neutral.button--outline {
  background-color: transparent;
  border-color: var(--color-surface-container-high);
}

.button--neutral.button--outline:hover {
  background-color: var(--color-surface-container-high);
}

.button--neutral.button--ghost {
  padding: 0;
  background-color: transparent;
  border-color: transparent;

  min-width: 1.5rem;
  width: 1.5rem;

  min-height: 1.5rem;
  height: 1.5rem;

  color: var(--color-on-surface);

  :hover {
    color: var(--color-on-surface-high);
  }

  > .button-icon {
    font-size: var(--text-lg);
  }
}
