@import url("./styles/_reset.css");
@import url("./styles/_variables.css");
@import url("./styles/_common.css");

/* DASHBOARD */
.dashboard-index,
.dashboard-products {
  display: flex;
  gap: var(--spacing-lg);

  padding: var(--spacing-base);

  min-height: 100vh;
}
/* DASHBOARD END */

/* DASHBOARD MAIN */
.dashboard-index__main,
.dashboard-products__main {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.dashboard-index__main-header,
.dashboard-products__main-header {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--color-outline);
  padding: var(--spacing-lg) 0;
}

.dashboard-index__main-header {
  gap: var(--spacing-sm);
}

.dashboard-products__main-header {
  gap: var(--spacing-base);
  /* flex-direction: row; */
  /* align-items: center;
  justify-content: space-between; */

  border-bottom: 1px solid var(--color-outline);
}

.dashboard-products__main-header__title {
  /* min-height: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0%; */
}
/* 
.dashboard-products__main-header-actions > .button {
  display: flex;
  justify-content: center;
} */

.dashboard-index__main-content,
.dashboard-products__main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--spacing-lg);
}

@media (min-width: 48rem) {
  .dashboard-products__main-content {
    grid-template-columns: 20rem 1fr;
  }
}

/* DASHBOARD MAIN END */

/* DASHBOARD FILTER */
.dashboard__filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* DASHBOARD FILTER END */

.dashboard-nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

  padding: var(--spacing-base) var(--spacing-base);

  background-color: var(--color-surface);
  /* 
  border: 1px solid var(--color-outline); */
  border-radius: var(--rounded-lg);
}

.dashboard-nav__link {
  display: flex;
  flex-direction: column;

  color: var(--color-on-surface);

  padding: var(--spacing-sm) var(--spacing-xs);

  align-items: center;
  text-decoration: none;
}

.dashboard-nav__link:hover,
.dashboard-nav__link--active {
  background-color: var(--blue-100);
  border-radius: var(--rounded-base);
}

.dashboard-nav__link-icon {
  font-size: var(--text-lg);
}

.dashboard-nav__link-icon:hover {
  color: var(--blue-white);
}

.dashboard-nav__link-label {
  font-size: var(--text-xs);
}

/* DASHBOARD FILTER  */
.dashboard__filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

  background-color: var(--color-primary-container);
  padding: var(--spacing-lg);

  color: var(--color-on-primary-container);

  border-radius: var(--rounded-lg);

  transition: var(--rounded-transition);
}

.dashboard__filter:hover {
  border-radius: var(--rounded-xl);
}

.dashboard__filter-header__title {
  font-size: var(--text-xl);
}
/* DASHBOARD FILTER  END */

/* DASHBOARD FILTER FORM */
.dashboard__filter-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.dashboard__filter-form-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.dashboard__filter-form-main__section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.dashboard__filter-form-main__section-title {
  font-size: var(--text-lg);
  color: var(--neutral-700);
}

.dashboard__filter-form-main__section-lists {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  color: var(--neutral-500);
}

.dashboard__filter-form__footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}
/* DASHBOARD FILTER FORM END */

.field-group--inline {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.dashboard__filter-form-main__section-lists > .field-group--inline {
  margin-left: var(--spacing-xs);
}

.count-card {
  border-radius: var(--rounded-lg);
  border: 1px solid var(--color-outline);

  padding: var(--spacing-lg);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  transition: var(--rounded-transition);
}

.count-card:hover {
  border-radius: var(--rounded-xl);
}

.count-card__text {
  font-size: var(--text-3xl);
  font-weight: 600;
}

.count-card__actions {
  display: flex;
  justify-content: flex-end;
}

/* BUTTON */
.button {
  cursor: pointer;

  min-height: 2.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);

  padding: var(--spacing-sm) var(--spacing-base);

  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-base);

  line-height: 1;

  color: var(--neutral-900);

  background-color: transparent;

  border: solid 1px transparent;
  border-radius: var(--rounded-base);

  transition:
    border-color 0.25s ease-out,
    background-color 0.25s ease-out,
    color 0.25s ease-out;
}

.button--full {
  display: flex;
  justify-content: center;
}

.button--icon {
  padding: var(--spacing-sm);
  border-radius: 9999px;
}

.button--icon > .icon-button {
  font-size: var(--text-2xl);
}

.button--outline {
  background-color: var(--white);
  border-color: var(--color-outline);
}

.button--outline:hover {
  background-color: var(--neutral-100);
}

.button--primary {
  color: var(--white);
  background-color: var(--blue-500);
  border-color: var(--blue-500);
}

.button--primary:hover {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
}

.button-icon {
  font-size: var(--text-lg);
}
/* BUTTON END */

.none {
  display: none;
}
