/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 2rem;

  --rounded-sm: 0.25rem;
  --rounded-base: 0.5rem;
  --rounded-lg: 1rem;
  --rounded-xl: 2rem;

  --white: #ffffff;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-500: #64748b;
  --neutral-700: #334155;
  --neutral-900: #0f172a;

  --blue-100: #dbeafe;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;

  --color-primary: var(--blue-500);
  --color-on-primary: var(--white);
  --color-primary-container: var(--blue-100);
  --color-on-primary-container: var(--neutral-900);

  --color-background: var(--white);
  --color-surface: var(--neutral-100);
  --color-on-surface: var(--neutral-900);
  --color-on-surface-variant: var(--neutral-500);

  --color-outline: var(--neutral-300);

  --ff: "Noto Sans", sans-serif;
}

/* COMMON */

body {
  font-family: var(--ff);
  font-size: var(--text-base);

  line-height: 1.55;

  color: var(--neutral-700);

  background-color: var(--color-background);
}

h1 {
  font-size: var(--text-4xl);
  font-weight: 700;
  line-height: 1.15;
}

.dashboard-index {
  display: flex;
  gap: var(--spacing-base);

  padding: var(--spacing-sm);

  min-height: 100vh;
}

.dashboard-main {
  flex: 1;
}

.dashboard-nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

  padding: var(--spacing-base) var(--spacing-sm);

  background-color: var(--color-surface);

  border: 1px solid var(--color-outline);
  border-radius: var(--rounded-lg);
}

.dashboard-nav__link {
  display: flex;
  flex-direction: column;

  color: var(--color-on-surface);

  padding: var(--spacing-sm) var(--spacing-xs);

  align-items: center;
  text-decoration: none;
}

.dashboard-nav__link:hover,
.dashboard-nav__link--active {
  background-color: var(--blue-100);
  border-radius: var(--rounded-base);
}

.dashboard-nav__link-icon {
  font-size: var(--text-2xl);
}

.dashboard-nav__link-icon:hover {
  color: var(--blue-white);
}

.dashboard-nav__link-label {
  font-size: var(--text-xs);
}

.dashboard-index__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--spacing-base);
}

.count-card {
  border-radius: var(--rounded-lg);
  border: 1px solid var(--color-outline);

  padding: var(--spacing-base);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

  transition: border-radius 0.25s ease-out;
}

.count-card:hover {
  border-radius: var(--rounded-xl);
}

.count-card__text {
  font-size: var(--text-xl);
  font-weight: 600;
}

.count-card__actions {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: inline-flex;

  align-items: center;
  gap: var(--spacing-sm);

  padding: var(--spacing-sm) var(--spacing-base);

  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-sm);

  line-height: 1;

  color: var(--neutral-900);

  background-color: transparent;

  border-radius: var(--rounded-base);
}

.button--outline {
  border: solid 1px var(--color-outline);
}

.button-icon {
  font-size: var(--text-lg);
}
