.hidden {
  display: none;
}

.container {
  padding-inline: var(--spacing-base);
  width: 100%;

  @media (min-width: 48rem) {
    padding-inline: var(--spacing-lg);
  }
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
