@media (min-width: 48rem) {
  .desktop-nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;
    color: var(--color-on-surface-low);
    text-decoration: none;
  }

  .desktop-nav__link:hover,
  .desktop-nav__link.active {
    color: var(--color-primary);
    text-decoration: underline solid var(--color-primary) 1px;
    text-underline-offset: var(--spacing-sm);
  }
}
