.index-page.main-area,
.products-page.main-area {
  padding-block: var(--spacing-lg);

  flex: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

/* index pages */
.index-page.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.index-page.main {
  display: grid;
  gap: var(--spacing-base);
}

.index-page.content {
  display: grid;
  gap: var(--spacing-base);
}

@media (min-width: 32rem) {
  .index-page.content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48rem) {
  .index-page.content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* products,  */
.products-page.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.products-page.header-action > .button {
  width: 100%;
}

.products-page.main {
  display: grid;
  gap: var(--spacing-lg);
}

@media (min-width: 48rem) {
  .products-page.header {
    flex-direction: row;
    align-items: flex-end;
  }

  .products-page.main {
    grid-template-columns: 20rem 1fr;
  }
}
/* categories pages */
