.product-card {
  min-width: 0;

  background-color: var(--color-surface-container);

  border-radius: var(--rounded-base);

  padding: var(--spacing-base);

  display: flex;
  gap: var(--spacing-sm);
  flex-direction: column;
}

.product-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);
}

.product-card__title {
  font-size: var(--text-xl);
  color: var(--color-on-surface-high);
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__action {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  flex-shrink: 0;
}

.product-card__details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  padding: 0;
  list-style: none;
}

.product-card__detail-label {
  color: var(--color-on-surface-low);
  font-size: var(--text-sm);
}

.product-card__detail-value {
  color: var(--color-on-surface-high);
  font-size: var(--text-sm);
}
